{% extends "layout.html" %} {% block title %} About Albanian Tourism {%
endblock%} {% block main %}

<div class="container" style="margin-top: 90px">
  <div class="row">
    <h1
      class="h1 text-center"
      style="color: rgb(224, 224, 224)"
      id="pageHeaderTitle"
    >
      Highlights of Albania
    </h1>
    <button class="call-to-action">Join Us</button>
    <div class="col-lg-12">
      <h3 class="text-center"></h3>
      <pre style="color: rgb(224, 224, 224)">
        Start in Tirana and end in Krujë! 
        With the In-depth Cultural tour Highlights of Albania, you have a 11 days tour package taking you through Tirana, Albania
        and 16 other destinations in Europe. Highlights of Albania includes accommodation in a hotel as well as an expert guide,
        meals, transport and more.
        
        Still emerging from isolation Albania's wealth of historic sites, charming rural villages and the colourful capital, 
        Tirana, are all waiting to be discovered.
        Along the way explore the Adriatic Coast, the White Mountains and peaceful 
        shores of Lake Ohrid.

        Butrint - Discover one of the greatest archaeological sites in the Balkans Llogara National Park - Explore one of 
        the most unspoilt places in the Adriatic 
        Gjirokastra - Stroll along the cobbled streets of this UNESCO-Listed town and visit its hilltop castle
       
        - Wander through the streets of Albania's colourful capital
        - Spend time in Pogradec overlooking tranquil Lake Ohrid
        - Delve into culture and enjoy a glass of raki with the locals
        - Visit the ancient hilltop castle of UNESCO Gjirokastra
        - Explore one of the most unspoilt areas in the Adriatic Sea
        - Discover one of the greatest Balkan archaeological sites

        Starting at €1129
      </pre>
    </div>
  </div>
</div>

<section class="dark">
  <div class="container py-4">
    <article class="postcard dark blue">
      <img class="postcard__img" src="../static/tirane.jpg" alt="Image Title" />
      <div class="postcard__text">
        <h1 class="postcard__title blue">&nbsp;Join trip in Tirana</h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 1
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Arrive in Tirana, Albania's colourful capital city. With a blend of
          communist architecture and a backdrop of rugged mountains, Tirana is a
          mix of new and old. For those arriving on time our Leader plans to
          meet you in the hotel reception at 6pm for the welcome meeting and for
          those that wish, there is the chance to go out for dinner. There are
          no other activities planned today, so you are free to arrive in Tirana
          at any time. If you would like to receive a complimentary airport
          transfer today, you'll need to arrive into Tirana International
          Airport (TIA), which is about 30 minutes' drive. Should you miss the
          welcome meeting, your Leader will inform you of any essential
          information as soon as you catch up. If your flight arrives earlier in
          the day, perhaps you might choose to visit the Bunk 'Art Musuem. This
          huge former Cold War bunker is located in the outskirts of city and
          here you can view exhibits on Albanian history and see contemporary
          art. Whilst in Albania we'll have the opportunity to sample the
          delicious cuisine, which is a real mix of Turkish, Greek and Italian
          influences, like byrek - a spinach and feta stuffed filo pie, and in
          the more rural mountainous areas barbequed lamb and 'earthy'
          vegetables such as griddled aubergines and mushrooms are particularly
          popular. Along the coast there will of course be the chance to sample
          fresh seafood. Albanian red wine is especially good and also local
          beers, such as Birra Korca. On this trip we have packed in as many
          highlights of Tirana as we can, but there is very little free time in
          the city, so if you wish to spend some time discovering more on your
          own, we would recommend extending your stay for a night or two.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/bY5P40VNpDo"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark red">
      <img
        class="postcard__img"
        src="../static/petrele.jpg"
        alt="Image Title"
      />

      <div class="postcard__text">
        <h1 class="postcard__title red">
          Visit to Petrela Fortress and walking tour of Tirana
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 2
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          We start this morning with a short drive out to the Pellumbus
          Guesthouse museum where we will meet the Duqi family. They have
          transformed their home into a guesthouse-cum-museum and will introduce
          us to daily village life in rural Albania. as well giving us the
          opportunity to try tasty local produce such as cheeses, jams, fruits
          and olive oils. From here we continue on to to Petrela Fortress
          stopping en route at the Bektashi World Centre. The Bektashi Order is
          an Islamic dervish sect who blends elements of both Shia and Sufi
          beliefs. We'll have a brief stop to see their ornately decorated tekke
          (place of worship) with its marble mosaics. Petrela Fortress dates
          back to 5th century and is one of the oldest structures in Albania. On
          a clear day, you can see all the way to Kruja, where we end our
          journey through Albania. On arriving back to Tirana, we will have a
          guided walking tour of the city to see main sights including the
          government buildings, Skanderbeg Square, the old bazaar and Et'Hem Bey
          Mosque.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play red">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/XsjYGMnQOnY"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark green">
      <img
        class="postcard__img"
        src="../static/elbasan.jpeg"
        alt="Image Title"
      />

      <div class="postcard__text">
        <h1 class="postcard__title green">
          See Elbasan Fortress and drive to Lake Ohrid
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 3
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          This morning before leaving Tirana we will visit the National Museum
          of History, with its easily recognisable mosaic frontage. We then
          drive to Elbasan to visit the historic fortress before continuing on
          to the picturesque fisherman's village of Lin where we will have free
          time for lunch before we drive to Pogradec, on the shores of Lake
          Ohrid. The lake is one of the oldest in the world and is a spot
          renowned for its natural beauty.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play green">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/ob-UtgeH36g"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark yellow">
      <img
        class="postcard__img"
        src="../static/voskopoje.jpeg"
        alt="Image Title"
      />

      <div class="postcard__text">
        <h1 class="postcard__title yellow">
          Drive to Korca via the medieval town of Voskopoja
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 4
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Today we make the journey to Voskopoja - formally known as Moskopoje.
          Founded in the 16th century, the town was once a major urban
          settlement and was famous for its churches which were adorned with
          many beautiful frescoes. After exploring the churches here, time for
          lunch and to sample fresh watermelon (when in season) we continue to
          Korca, sitting at the foot of Moravia Mountain, where we will spend
          the night. On arrival we take a city tour including the Resurrection
          Cathedral, which is the main Orthodox Church, and Medieval Museum
          which houses a wide selection of stone sculptures, carved wood
          artefacts and textiles.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play yellow">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/D-U6Ka8Sc0w"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<section class="light">
  <div class="container py-2">
    <article class="postcard light blue">
      <img class="postcard__img" src="../static/benja.jpg" alt="Image Title" />
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">
          &nbsp;Scenic drive to Permeti and walk through the Benja countryside
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 5
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Our journey today takes us through the southern highlands to Permeti.
          Just outside Korca we will visit the Kamenica Tumulus archaeological
          site where we can see a Bronze Age burial complex. Travelling along
          one of the most scenic routes in Albania, we will reach the Barmash
          Pass (1,040 metres) where we can enjoy sweeping views of the Nemercka
          Mountains, which are snow covered for most of the year and form the
          border with Greece. En route, we will walk through the Benja
          countryside and have the opportunity to see the stunning view of the
          Ottoman stone bridge over the river with the mountains in the
          distance. We'll then stop for a typical Albanian drink of raki with
          the locals before driving on to Permeti. This town is located on the
          Vjose River in the heart of the White Mountains. The walk near Benja
          today is for around six kilometres and will take about one and a half
          hours. This walk is classified as easy as it follows quiet village
          roads and footpaths.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/TzUFdkzy2eQ"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard light red">
      <img
        class="postcard__img"
        src="../static/gjirokaster.jpg"
        alt="Image Title"
      />
      <div class="postcard__text t-dark">
        <h1 class="postcard__title red">
          Drive through the mountains to old Balkan town of Gjirokastra.
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 6
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Our day starts with a walk up to the village of Leusa where there will
          be time to visit the church, which features some stunning frescoes,
          particularly on the ceiling. Our route to Gjirokastra takes us through
          the White Mountains via Kelcyra Gorge, carved by the Vjose River on
          its way to the Adriatic Sea. The scenery in the mountains is
          breathtaking with rolling valleys, that in spring are covered with
          some of the most exuberant wildflowers you are likely to see anywhere
          in Albania. As we travel, look out for eagles soaring above us. On the
          way to Kelcyra, we stop at Dhkosat village, where we will have a
          traditional homemade lunch. Later, we arrive in Gjirokastra where we
          take a walking tour through the cobbled streets of its UNESCO-listed
          historic centre and visit Gjirokastra Castle and the Ethnographic
          Museum. The castle sits at a height of 336 metres and is one of the
          most magnificent structures in the city with views over the hilly
          countryside, river valley and city. There have been extensive
          renovations to the building since it was constructed in the 12th
          century and it now possesses five towers, a church, a cistern, and
          houses the Weapons Museum. The museum exhibits captured artillery and
          memorabilia of the Communist resistance against German occupation, as
          well as a captured US Air Force plane to commemorate the Communist
          regime's struggle against the 'imperialist' western powers. The
          Ethnographical Museum is in the historic district of Palorto and
          stands on the site where the dictator Enver Hoxha was born. Set over
          four floors it offers us an insight into the traditional affluent
          Albanian lifestyle of the town with numerous household items, folk
          costumes and cultural artefacts on display. Our walk today in Leusa
          takes about two hours and is six kilometres. It's along quiet village
          roads, but is uphill, so is classified as easy to moderate.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play red">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/7hoz-sxhG5Q"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard light green">
      <img
        class="postcard__img"
        src="../static/butrint.jpg"
        alt="Image Title"
      />

      <div class="postcard__text t-dark">
        <h1 class="postcard__title green">
          &nbsp;Explore Butrint, one of the greatest archaeological sites in the
          Balkans
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 7
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Leaving Gjirokastra behind us, we drive to Saranda. Along the way, we
          will stop at the karstic spring, known as 'The Blue Eye' where we can
          marvel at the blue clear waters. This afternoon we visit UNESCO listed
          Butrint, which is one of the great archaeological sites in the
          Balkans. With a long and colourful history dating back to the early
          Neolithic age, Butrint has been occupied and fought over until the
          Ottoman period when it lay abandoned. More recently, excavations have
          taken place and all periods of Butrint's history have been revealed
          including its Roman theatre, Roman house and thermal baths as well as
          a fine baptistery with fabulous mosaic floors. The setting is idyllic
          with the ruins nestling in the bend of the Vivari River. After
          spending time exploring this fascinating site, we return to the shores
          of the Mediterranean and Saranda for the night.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play green">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/T4NN0PhKq78"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<section class="dark">
  <div class="container py-4">
    <article class="postcard dark blue">
      <img
        class="postcard__img"
        src="../static/tepelene.jpg"
        alt="Image Title"
      />
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          &nbsp;Visit Ali Pasha's Fortress; stay in Llogora National Park
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 8
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          As we leave Saranda, we can look forward to another scenic coastal
          drive along the Albanian Riviera, before winding over the 1,000 metre
          high pass at Llogora as we travel to the national park, which goes by
          the same name. Along our route we pass terraces planted with citrus
          groves and olive trees and enjoy the views over the mountains, sea and
          forest. We stop at Ali Pasha Fortress, a castle on a small peninsula
          within Palermo Bay with stunning views over the turquoise coastal
          waters. Although small, the walls of the triangular fort are well
          preserved, along with some cannons found here. We'll also stop to take
          a brief stroll along the beach at Himara. Upon reaching Llogora
          National Park, we will have time for a three to four hour hike
          covering seven kilometres in the mountains with many attractive views
          along the way. The route we follow is along a combination of
          well-trodden footpaths, goat trails and a military road. We classify
          this walk as moderate in difficulty. Tonight we'll stay at hotel
          nestled amongst the pine trees of this tranquil national park.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/wY2oB4AiOiw"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark red">
      <img class="postcard__img" src="../static/fier.jpeg" alt="Image Title" />

      <div class="postcard__text">
        <h1 class="postcard__title red">
          Visit ancient Apollonia and Vlora en route to Berat
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 9
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          This morning en route to Apollonia we stop at Vlora where we will
          visit Flag Square and the Muradi Mosque. From here we continue our
          drive to Apollonia. Founded in 585 BC and dedicated to the god Apollo,
          the city achieved fame and wealth before being incorporated into the
          Roman Empire to become Caesar's stronghold during the civil war with
          Pompey. The most impressive feature of the site is the bouleuterion -
          a facade with six Corinthian columns which are thought to date back to
          the 2nd century AD. Although much of the ancient site is yet to be
          excavated, with so few other visitors, it is possible to imagine a
          time when the site supported 55,000 men and Octavian (later to become
          Emperor Augustus) was one of its students. We continue our drive to
          Berat where we spend the night.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play red">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/JVHhHAhyFPY"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark green">
      <img class="postcard__img" src="../static/durres.jpg" alt="Image Title" />

      <div class="postcard__text">
        <h1 class="postcard__title green">
          &nbsp;Walking tour of Berat and Durresi
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 10
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Situated over a gorge next to the Osumi River and in the shadow of
          Mount Tomori, Berat's white buildings sprawl up the hillside towards
          the fortress. New construction is strictly regulated in order to
          maintain the city's unique character in its UNESCO listed historical
          centre. Exploring on foot this morning, we head up to the fortress and
          see the painted icons and frescoes in the Church of Saint Mary, one of
          the seven churches within the citadel walls. We will also visit the
          oldest mosque in Albania, the Red Mosque, and the Onufri Icon Museum.
          We drive on to Durresi which is one of Albania's main ports.
          Originally founded in 627 BC by the Greeks and then called Epidamnos,
          the city was later plundered and conquered by the Illyrians, Romans,
          Normans, Venetians and Serbs, which resulted in the many reminders we
          can see as we wander around the city today of its long and varied
          history. For example, we will stop off at the Roman Amphitheatre,
          which is not far from the modern city's main square. We will also
          visit the Archaeological Museum before we depart and drive to Kruja
          where we spend the last night of our trip.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play green">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/PRQqwbAyE-Y"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark yellow">
      <img class="postcard__img" src="../static/kruja.jpg" alt="Image Title" />

      <div class="postcard__text">
        <h1 class="postcard__title yellow">Trip ends in Kruja</h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 11
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          The trip ends after breakfast at our hotel in Kruja. There are no
          activities planned today, so you are free to depart from Kruja at any
          time. If your flight is departing later in the day luggage storage
          facilities are available at our hotel. If you would like to receive a
          complimentary airport transfer today, you need to depart from Tirana
          International Airport (TIA), which is about 40 minutes' drive.
          Depending on the time of your flight or if you are extending your stay
          by a night then you may have some free time today to explore Kruja,
          perhaps to visit the fortress, which is a place of pilgrimage and
          inspiration for Albanians, the nearby bazaar or the Ethnographic
          Museum.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play yellow">
            <button
              type="button"
              class="btn btn-primary video-btn"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/bmhb3KmyByw"
              data-target="#myModal"
            >
              Play Episode
            </button>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

{% endblock %}
