{% extends "layout.html" %} {% block title %} About Albanian Tourism {%
endblock%} {% block main %}
<!-- 
<div class="container" style="margin-top: 90px">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center"></h3>
      <p>
        Start and end in Saranda! With the Sailing tour Sailing Albania “Ionian
        Riviera” Route - (From Saranda), you have a 7 days tour package taking
        you through Saranda, Albania and 6 other destinations in Albania.
        Sailing Albania “Ionian Riviera” Route - (From Saranda) includes ,
        transport and more.Our Sailing Yachts are traditionally-built, wooden
        motor-yachts which usually hold around 7-8 passengers. We strongly feel
        that they are the ONLY way to see the Albania coasts – imagine waking
        every morning for breakfast and a swim in idyllic bays and cruising
        along the coast to a new destination each day. The decks are perfect for
        sunbathing and jumping into the sea, the food is excellent and there is
        a tender boat included to shuttle you to and from all the sites such as
        Saranda Bay, Ksamil islands, Kakome Bay, Porto Palermo Bay –
        ex-Submarine Base, Himara, Jale, Dhermi beach, Pirates’ Cave, Sazan
        Island, General Bay in Sazan (island), and several ancient/medieval
        ruins. Of course, it’s not all about just relaxing and sightseeing.
        There is an onboard bar and opportunities to experience the nightlife
        and party at venues such as Saranda, Ksamil, Himara, Vlora, etc. Sounds
        like the perfect trip? You bet it is, and with prices starting at €999
        per person for a 7-day cruise with full-board (breakfast, lunch and
        dinner included), it is incredible value! The full itinerary for Ionian
        Riviera Route is below: Arrival/Departure Airports Ground Transfers to
        Saranda port: - From Tirana Airport to Saranda port ground transfer (275
        km, 3 h 55 min). - From Corfu Airport to Corfu port ground transfer (4.5
        km, 12 min) - From Corfu Port to Saranda ferry boat transfer (29.9 km, 1
        h 30 min) or fast ferry 45 min.
      </p>
    </div>
  </div>
</div> -->

<section class="dark">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">
      Sailing Albania “Ionian Riviera”
    </h1>

    <article class="postcard dark blue">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/1000/1000"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="#">Saranda Port - Krorez - Kakome </a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 1: Sunday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          We board our boat around 10 am for welcome speeches and an
          introduction to Captain and crew, depart Saranda harbour and cruise to
          Krorez Bay (Untouched stretch of white sandy beach backed by rolling
          hills with boulders & clear azure waters.) Then continue to Kakome Bay
          overnight.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play blue">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/501/500"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title red">
          <a href="#">Borsh - Porto Palermo</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 2: Monday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          After breakfast we sail to Borsh where we will have time for lunch on
          the boat and swimming. Then continue to Porto Palermo bay, where we
          have time for lunch on the boat, swimming, and visit to Ali Pasha
          Castle (18th Century) on the top of the spectacular hill. Where we
          will also spend the night.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play red">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark green">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/500/501"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title green">
          <a href="#">Dhermi - Gjiri i Grames</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 3: Tuesday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Then we continue via the famous Dhermi beach. Dhërmi is said to be one
          of Albania's best kept secrets and is a popular destination for
          locals. We will enjoy the spectacular views of Llogara and Beaches,
          and vibrant bars/restaurants available on site. Then continue to Gjiri
          i Grames, which is one of many bays of the western Ceraunian Mountains
          along the Albanian Riviera south of the Karaburun Peninsula.
          Overnight.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play green">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard dark yellow">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/501/501"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title yellow">
          <a href="#">Radhime/Vlore - Sazan</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 4: Wednesday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Pirates cave around the Karaburun Peninsula and pass through Otranto
          Strait where and have a stop again in Grama Bay for swimming. This is
          a small and very exotic bay where ships and vessels have anchored
          since antiquity. On the high and steep rock faces of the bay, which
          served also as a marble quarry, there are inscriptions and names of
          even prominent historical figures that date back to the 4th century
          BC, such as of Mark Antony and Byzantine emperor John V Palaiologos in
          1369 on his way to Venice. On the north of the peninsula there's a
          landmark cape, Kepi i Gjuhëzës, the westernmost point of continental
          Albania (Sazan Island) being the one westernmost point of the country)
          and the country's most famous Haxhi Aliu's cave. Today we cruise to
          Sazan Island and stop for swimming. Once one the most fortified naval
          bases together with Pasha Liman during communism regime. It is
          strategically located between the Strait of Otranto and the entrance
          to the Bay of Vlorë and has an area of 5.7 km2 (2.2 sq mi) with no
          population. Afterward continue to Radhime which is a fishing village
          with a charming little harbor where we spend the night.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play yellow">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<section class="light">
  <div class="container py-2">
    <article class="postcard light blue">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/1000/1000"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">
          <a href="#">Gjiri i Grames - Jale</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 5: Thursday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          After breakfast we continue to Gjiri i Grames where we stop for
          swimming and lunch. Possibility for hiking in Karaburun Peninsula.
          Then continue to Jale. If there’s one thing that needs to be clear
          about this beach is the name. It’s Jali, neither Jala nor Jale. The
          second most important about Jali is that it’s one of the most
          beautiful beaches in Albania. If you never been to Jali, don’t miss
          the chance to explore it this summer. A five km road in Vuno Village
          on the right side of Vlora-Saranda national road takes to Jali beach.
          It runs among centennial olive trees and down to small bay on the
          coast of the Ionian Sea. For many years, Jali used to welcome officers
          of the Albanian armed forces and their families during the summer
          season.Overnight in Jala Bay. Possibility for enjoying local
          mediterranean food and fascinating night life (Folie Marine famous
          club).
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play blue">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard light red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/501/500"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title red"><a href="#">Bunec - Lukove.</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 6: Friday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          After breakfast, continue to Bunec Beach. Bunec Beach is a quiet, yet
          beautiful, spot near Saranda in Albania. With a backdrop of mountains
          it offers an opportunity to get in touch with the natural beauty of
          Albania. Littered with white pebbles, the water at Bunec is crystal
          clear and the beautiful shade of blue-green you only find in the
          Ionian Sea. The remote location means visitors will have no trouble
          finding a quiet and secluded spot. A small river that runs down from
          the mountains divides the beach here as it trickles into the sea. In
          the afternoon, I continued to Lukova Beach. For an unparalleled view
          of the clear blue Ionian Sea and glittering sandy coastline, you find
          it hard to beat Lukova Beach. One of the most popular beaches on the
          Albanian Riviera, it offers incredible views of the Mediterranean
          along with one of the most hospitable beach hotspots in the country.
          The coastline near Lukova is home to a chain of tiny beach areas along
          with one big one, Shpella. This beach archipelago features everything
          from great shopping and nightclubs to peaceful views of the gentle
          waves, to the most scintillating seafood restaurants in the area.
          Whatever your desires, you’re sure to find something to satisfy your
          beachy tastes. Overnight at Lukova Beach.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play red">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard light green">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/500/501"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title green"><a href="#">Ksamil - Saranda.</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Day 7: Saturday
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
          fugiat asperiores inventore beatae accusamus odit minima enim, commodi
          quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti
          tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci
          illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim
          quidem excepturi, illum quos!
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play green">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="postcard light yellow">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://picsum.photos/501/501"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          In the morning we will continue to the Ksamil Islands. We spend a
          great afternoon and evening in the Ksamil Islands for snorkelling and
          swimming, (or have a visit to Butrint Antic city UNESCO). This night
          also means party time! We can head over to the Beach Bars to meet up
          with other travellers and dance through the night and grab a cocktail
          or 3. A free boat service picks you up and runs regularly all night.
          If you don’t fancy a party, simply relax and chill out on the boat.
          Then return to Saranda Port. End of the Service. Optional excursion to
          book locally: Visit to Butrint Antic City (UNESCO). (Where you can
          visit ruins of Butrint antic city, Albania's most important
          archaeological site. Butrint dates from the 7th century BC, later
          becoming a Roman colony, then falling under the sway of the Venetians
          and Turks. Virgil claimed that the Trojans settled Butrint, but no
          evidence of this has yet been found. Within a century of the Greeks
          arriving, Butrint had become a fortified trading city with its own
          acropolis, the ruins of which we can still visit. The rediscovered
          city is a microcosm of almost 3,000 years of Mediterranean history,
          and its 6th century BC fortification evokes the city's military power
          and symbolizes the rich culture of the once thriving ancient city.
          Exploration of amphitheater, Venetian tower, Mosaic, Lion gate, etc.)
          After disembarking, the day continues with a couple of options:
          transfer to Saranda for departure. Or, if you are planning to travel
          to other destinations, you can be dropped off at Saranda bus station
          before the transfer continues to other destinations (Tirana, etc.)
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play yellow">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

{% endblock %}
